<app-header></app-header>

<main>
    <h2>Kurser</h2>

    <section id="hitta-kurs">
        <div>
            <input type="text" placeholder="Sök kurs..." [(ngModel)]="searchTerm">

            <select [(ngModel)]="selectedSubject">
                <option value="">Alla ämnen</option>
                <option *ngFor="let subject of subjects" [value]="subject">
                    {{ subject }}
                </option>
            </select>
        </div>

        <article id="sortera-kurser">
            <h3>Sortera efter: </h3>

            <div>
                <button (click)="sortCourses('courseCode')">Kurskod</button>
                <button (click)="sortCourses('courseName')">Kursnamn</button>
                <button (click)="sortCourses('points')">Poäng</button>
                <button (click)="sortCourses('subject')">Ämne</button>
            </div>
        </article>

        <article id="antal-traffar">
            <p>Antal träffar: {{ filteredCourses.length }}</p>
        </article>
    </section>

    <section>
        <h3>Hittade kurser</h3>

        <p *ngIf="message" class="success-message">{{ message }}</p>

        <div *ngFor="let course of filteredCourses">
            <h4>{{ course.courseName }}</h4>
            <p>{{ course.courseCode }}</p>

            <button (click)="addCourse(course)">Lägg till</button>
        </div>
    </section>
</main>
