<app-header></app-header>

<main>
    <section id="rubrik-flex">
        <div>
            <h2>Ditt ramschema</h2>
            <p class="total-points">Totalt: {{ totalPoints }} hp</p>
        </div>
    </section>

    <section id="ramschema-list">
        <p *ngIf="message" class="success-message">{{ message }}</p>

        <article class="course-card" *ngFor="let course of courses">
            <div class="course-info">
                <h4>{{ course.courseName }}</h4>
                <p>{{ course.courseCode }} · {{ course.points }} hp</p>
            </div>

            <button (click)="removeCourse(course)">Ta bort</button>
        </article>
    </section>
</main>